.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    outline-style: solid;
    outline-color: #211b19;
    outline-width: 1px;
    color: white;
    text-align: center;
  }

  
  .footer a {
    font-family: 'Balsamiq Sans', sans-serif;
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
    color: #211b19;
    text-transform: uppercase;
    padding: 13px 10px;
    font-size: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
  }
  
  .footer a:hover {
    color:grey;
    outline-style: solid;
    outline-color: black;
    outline-width: 1px;
    padding: 13px 40px;
  }

  #DONT:hover {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
  }

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60004, 0 0 40px #e60004, 0 0 50px #e60004, 0 0 60px #e60004, 0 0 70px #e60004;
    };
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
    };
  };