* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}



body {
  padding: 0;
  margin: 0;
}

#main {
  position: relative;
  height: 100vh;
}

#main .sub-main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.sub-main {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.sub-main .sub-class {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.sub-main .sub-class h1 {
  font-family: 'Yusei Magic', sans-serif;
  font-size: 70px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sub-main .sub-class h1:hover {
  color: #4baffc;
  font-size: 82px;
}

.sub-main .sub-class h2 {
  font-family: 'Hachi Maru Pop', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  user-select: none;
  color: #211b19;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 42px;
  top: 25%;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sub-main .sub-class h2:hover {
  color: #3efd34;
  font-size: 25px;
}

.sub-main .sub-class .social-media h3 {
  font-family: 'Hachi Maru Pop', sans-serif;
  font-size: 15px;
  font-weight: 450;
  display: inline-block;
  position: absolute;
  bottom: 42px;
  top: 77%;
  left: 16%;
  right: 0;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sub-main .sub-class .social-media h3:hover {
  color: #09faf6;
  font-size: 15.5px;
}

.sub-main .sub-class .social-media h4 {
  font-family: 'Hachi Maru Pop', sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  position: absolute;
  user-select: none;
  bottom: 42px;
  top: 75%;
  left: 0;
  right: 30%;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sub-main .sub-class .social-media h4:hover {
  color: #4834fd;
}

.sub-main a {
  font-family: 'Balsamiq Sans', sans-serif;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #211b19;
  font-size: 15px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sub-main a:hover {
  color: #211b19;
  background: rgb(232, 231, 231);
}




@media only screen and (max-width: 767px) {
  .sub-main .sub-class h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .sub-main .sub-class {
    height: 148px;
    margin: 0px auto 10px;
  }
  .sub-main .sub-class h1 {
    font-size: 86px;
  }
  .sub-main .sub-class h2 {
    font-size: 16px;
  }
  .sub-main a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
